html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: #153236;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, fieldset, ul, p {
    margin: 0;
}

.container {
    max-width: 1324px;
    padding-left: 72px;
    padding-right: 72px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    display: block;
}

.header__phone {
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-image: url('../images/call.svg');
    padding-left: 29px;
    background-repeat: no-repeat;
    background-position: left;
    transition: color 0.2s ease-in-out;
}

.header__phone:focus {
    outline-offset: 5px;
    color: #204d55;
    outline-color: #204d55;
}

.main-button {
    max-width: 380px;
    width: 100%;
    height: 73px;
    padding: 10px;
    gap: 10px;
    background-color: #9ceef9;
    border: 1px solid #8eecf9;
    box-shadow: 0px 16px 16px #c2f8ff;
    border-radius: 40px;
    font-weight: 700;
    font-size: inherit;
    line-height: 1.4;
    color: #000;
    cursor: pointer;
    transition-property: background-color, box-shadow;
    transition-duration: 0.2s, 0.1s;
    transition-timing-function: ease-in-out;
}

.main-button:focus-visible {
    outline: none;
    border-color: #59D7E9;
}

.main-button:active {
    box-shadow: 0px 6px 16px #c2f8ff;
}

.main-button:disabled {
    box-shadow: none;
    background-color: #D7D7D7;
    border-color: #D7D7D7;
    cursor: default;
}

.hero__container {
    display: flex;
    gap: 72px;
    justify-content: space-between;
}

.hero__content {
    flex-basis: 480px;
    padding-top: 85px;
    padding-bottom: 150px;
}

.hero__container::after {
    content: '';
    flex-grow: 1;
    background-image: url('../images/girl.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero__title {
    margin-bottom: 26px;
}

.hero__title-strong {
    font-family: Arial, sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.2;
    display: block;
}

.hero__subtitle {
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    display: block;
}

.hero__discription {
    max-width: 380px;
    margin-bottom: 50px;
}

.hero__btn {
    margin-bottom: 110px;
}

.hero__languages {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    gap: 9px 35px;
    padding-left: 0px;
    list-style: none;
}

.hero__language {
    display: flex;
    align-items: center;
    gap: 6px;
}

.hero__language::before  {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.hero__language--yellow::before {
    background-color: #ffc700;
}

.hero__language--blue::before {
    background-color: #0066ff;
}

.hero__language--red::before {
    background-color: #FF0000;
}

.hero__language--pink::before {
    background-color: #DB00FF ;
}

.hero__language--powder::before {
    background-color: #DE7BAB;
}

.hero__language--green::before {
    background-color: #05FF00;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    padding: 20px;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.modal_open {
    display: flex;
}

.modal__body {
    position: relative;
    margin: auto;
    background-color: #FFF;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 50px;
    flex-basis: 1180px;
    cursor: default;
}

.modal__title {
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial Black';
    font-weight: 900;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.modal__description{
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 45px;
}

.modal__close {
    position: absolute;
    right: 50px;
    top: 30px;
    background-color: transparent;
    line-height: 0;
    border: none;
    padding: 0;
    color: #9d9d9d;
    cursor: pointer;
    transition: color 0.2s ease;
}

.form__fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 45px;
}

.form__label {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form__label-text {
    font-weight: 700;
    font-size: 12px;
}

.form__input {
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    height: 40px;
    padding: 0 20px;
}

.form__submit {
    display: block;
    margin: 0 auto;
}

@media (hover: hover) {
    .header__phone:hover {
        color: #204d55;
    }

    .main-button:hover {
    background-color: #8BE3EF;
    }

    .modal__close:hover {
        color: #000;
    }
}

@media (max-width: 1200px) {
    .hero__container {
        gap: 56px;
    }

    .hero__container::after {
        background-image: url('../images/girlLaptop.png');
    }

    .hero__content {
        flex-basis: 410px;
        padding-top: 25px;
        padding-bottom: 126px;
    }

    .hero__title {
        margin-bottom: 16px;
    }
    
    .hero__btn {
        margin-bottom: 80px;
    }

    .modal__body {
        flex-basis: 880px;
    }
}

@media (max-width: 1000px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 0 44px;
    }
    
    .header__container {
        min-height: 25px;
    }

    .header__phone {
        padding-left: 26px;
    }

    .hero__container {
        gap: 42px;
    }

    .hero__container::after {
        background-image: url('../images/girlTablet.png');
    }

    .hero__content {
        flex-basis: 280px;
        padding-top: 15px;
        padding-bottom: 88px;
    }

    .hero__title {
        margin-bottom: 18px;
    }
    
    .hero__title-strong {
        font-size: 30px;
    }

    .hero__subtitle {
        font-size: 24px;
    }

    .hero__discription {
        margin-bottom: 30px;
    }

    .main-button {
        height: 50px;
        box-shadow: 0px 6px 16px #c2f8ff;
    }

    .hero__btn {
        margin-bottom: 40px;
    }

    .hero__languages {
        grid-template-columns: min-content min-content;
        gap: 10px 36px;
    }

    .form__submit {
        height: 68px;
    }

    .modal__body {
        flex-basis: 680px;
        padding: 30px 100px;
    }

    .modal__close {
        top: 25px;
        right:30px;
    }

    .modal__title {
        font-size: 24px;
        margin-bottom: 15px;
        max-width: 440px;
    }

    .modal__description {
        font-size: 14px;
        margin-bottom: 30px;
    }

    .form__fieldset {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 36px;
    }
}

@media (max-width: 700px) {
    .container {
        padding:0 20px;
    }

    .header__logo {
        width: 100px;
    }

    .hero__container::after {
        flex-basis: 245px;
        background-position: right bottom;
        background-image: url('../images/girlMobile.png');
    }

    .hero__content {
        padding-top: 5px;
        padding-bottom: 0;
        max-width: 280px;
        align-self: center;
    }

    .hero__title-strong {
        margin-bottom: 4px;
    }

    .modal__body {
        padding: 30px 10px;
        border-radius: 20px;
    }

    .modal__close {
        top: 5px;
        right: 10px;
    }

    .modal__description {
        margin-bottom: 8px;
    }

    .form__fieldset {
        gap: 10px;
        margin-bottom: 20px;
    }
    
    .form__input {
        height: 40px;
    }

    .form__submit {
        height: 50px;
    }
}

@media (max-width: 600px) {
    .hero__container {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .hero__container::after {
        background-image: none;
    }

    .header__logo {
        width: 100px;
    }
}